name: Deploy React Vite to GitHub Pages

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        working-directory: Studex
        run: npm install

      - name: Build project
        working-directory: Studex
        run: npm run build

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload build files
        uses: actions/upload-pages-artifact@v3
        with:
          path: Studex/dist

      - name: Deploy
        uses: actions/deploy-pages@v4
